.team-member-card {
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.2s;
    background-color: white !important;
    color: black !important;
    padding: 0px;
}

.team-member-card:hover {
    transform: scale(1.05);
}

.team-member-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    /* Ensures the image covers the area */
    display: block;
}