/* Loader.css */
.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Adjust based on where you want to position the loader */
}

.spinner {
    border: 8px solid rgba(0, 0, 0, 0.1);
    /* Light border */
    border-left: 8px solid red;
    /* Blue border */
    border-radius: 50%;
    width: 50px;
    /* Adjust size */
    height: 50px;
    /* Adjust size */
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}