.finalLogoPride0102 {
    height: 58px;
    width: 202px;
    position: relative;
    object-fit: cover;
}

.containerWrapper {
    flex-grow: 1;
    text-align: center;
}

/* Center Section Styling */
.center-section {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.container,
.list {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    max-width: 100%;
    padding: 10px;
}

.item,
.list {
    align-items: center;
    justify-content: center;
    gap: 20px;
    /* Adjust gap for smaller screens */
}

.list .nav-link {
    font-size: 18px;
    font-weight: bold;
    padding: 10px 15px;
    color: #000;
    text-decoration: none;
}

.list .nav-link:hover {
    color: red;
    text-decoration: underline;
}

.list .nav-link.active {
    color: #007bff;
    text-decoration: underline;
}

.dropdown-title {
    font-weight: bold;
}

.user-section {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

/* Mobile View Adjustments */
@media (max-width: 768px) {
    .containerWrapper {
        flex-grow: 0;
        text-align: left;
    }

    .container,
    .list {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .user-section {
        justify-content: flex-start;
    }

    .finalLogoPride0102 {
        height: 50px;
        width: auto;
    }
}
