.search-colum {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.search-colum input {
    padding-left: 30px;
    height: 40px;
    border: 1px solid red;
    border-radius: 10px;
}

.search-icon {
    position: relative;
    left: 25px;
    color: red;

}

.filter-btn {
    background: white !important;
    border: 1px solid red !important;
    color: red !important;
}

.action-icon {
    cursor: pointer;
    color: red;
}