@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "~react-image-gallery/styles/css/image-gallery.css";

body {
  margin: 0;
  line-height: normal;
  font-family: "Poppins", sans-serif !important;
}

:root {
  /* fonts */
  --wwwcars24com-inter-semi-bold-16: Inter;
  --semi-bold-16: Poppins;
  --font-manrope: Manrope;
  --font-ibm-plex-sans: "IBM Plex Sans";
  --font-pt-sans-caption: "PT Sans Caption";
  --font-khand: Khand;

  /* font sizes */
  --font-size-2xl-3: 21.3px;
  --font-size-mid: 17px;
  --font-size-lg-7: 18.7px;
  --semi-bold-16-size: 16px;
  --font-size-3xs: 10px;
  --font-size-mini: 15px;
  --font-size-3xl: 22px;
  --font-size-lg: 18px;
  --font-size-sm: 14px;
  --font-size-29xl: 48px;
  --font-size-10xl: 29px;
  --font-size-19xl: 38px;
  --font-size-2xl-6: 21.6px;
  --font-size-53xl: 72px;
  --font-size-24xl: 43px;
  --font-size-39xl: 58px;
  --font-size-508xl-6: 527.6px;
  --font-size-113xl: 132px;
  --font-size-192xl: 211px;
  --bold-52-size: 52px;
  --font-size-12xl: 31px;
  --font-size-23xl: 42px;
  --font-size-31xl: 50px;
  --font-size-11xl: 30px;
  --font-size-21xl: 40px;
  --font-size-28xl: 47px;
  --font-size-9xl: 28px;
  --wwwcars24com-inter-semi-bold-12-size: 12px;

  /* Colors */
  --shades-white: #fff;
  --color-gray-100: #252525;
  --color-gray-200: #1f1f1f;
  --neutral-800: #191d23;
  --gray-900: #18181b;
  --wwwcars24com-woodsmoke: #0f0f10;
  --base-02: #090914;
  --color-gray-300: rgba(28, 0, 0, 0.3);
  --black-black-32-disabled: rgba(4, 9, 33, 0.32);
  --black: #000;
  --gray-4001: #a1a1aa;
  --gray-400: #98a2b3;
  --color-darkgray-100: #9d9d9d;
  --gray-100: #f2f4f7;
  --color-whitesmoke-100: #efefef;
  --gray-200: #eaecf0;
  --gray-700: #344154;
  --primary-color: #ed2326;
  --color-dimgray-100: #666;
  --color-dimgray-200: #5a5a5a;
  --color-silver-100: #c6c6c6;
  --color-silver-200: #b6b6b6;
  --color-gainsboro: #d9d9d9;
  --wwwcars24com-alto: #d6d6d6;
  --blue-gray-500: #64748b;
  --color-skyblue: #6ddcff;
  --color-red-100: #ff0000;
  --color-red-200: rgba(255, 0, 0, 0.2);

  /* Gaps */
  --gap-24xl: 43px;
  --gap-2xl: 21px;
  --gap-23xl-7: 42.7px;
  --gap-xl: 20px;
  --gap-13xl: 32px;
  --gap-base: 16px;
  --gap-2xl-3: 21.3px;
  --gap-2xs-7: 10.7px;
  --gap-6xl: 25px;
  --gap-21xl: 40px;
  --gap-3xs: 10px;
  --gap-8xs: 5px;
  --gap-lg: 18px;
  --gap-9xs: 4px;
  --gap-155xl: 174px;
  --gap-base-3: 16.3px;
  --gap-xs: 12px;
  --gap-31xl: 50px;
  --gap-6xs-6: 6.6px;
  --gap-3xl-5: 22.5px;
  --gap-11xl-7: 30.7px;
  --gap-mini: 15px;
  --gap-lg-1: 18.1px;
  --gap-27xl-1: 46.1px;
  --gap-4xl: 23px;
  --gap-5xl: 24px;
  --gap-37xl-3: 56.3px;
  --gap-9xl: 28px;
  --gap-35xl: 54px;
  --gap-8xl: 27px;
  --gap-5xl-2: 24.2px;
  --gap-25xl-8: 44.8px;
  --gap-3xl: 22px;
  --gap-11xl: 30px;
  --gap-5xs-6: 7.6px;

  /* Paddings */
  --padding-12xs-3: 0.3px;
  --padding-45xl: 64px;
  --padding-23xl: 42px;
  --padding-2xl: 21px;
  --padding-66xl-3: 85.3px;
  --padding-45xl-1: 64.1px;
  --padding-36xl: 55px;
  --padding-77xl: 96px;
  --padding-67xl: 86px;
  --padding-49xl: 68px;
  --padding-74xl: 93px;
  --padding-6xl: 25px;
  --padding-10xs-7: 2.7px;
  --padding-3xs: 10px;
  --padding-10xs-6: 2.6px;
  --padding-7xl: 26px;
  --padding-xl: 20px;
  --padding-base-5: 16.5px;
  --padding-5xl: 24px;
  --padding-xs: 12px;
  --padding-2xs: 11px;
  --padding-12xs: 1px;
  --padding-5xs: 8px;
  --padding-4xs: 9px;
  --padding-4xl: 23px;
  --padding-smi: 13px;
  --padding-11xs: 2px;
  --padding-181xl: 200px;
  --padding-285xl: 304px;
  --padding-141xl: 160px;
  --padding-10xs: 3px;
  --padding-197xl: 216px;
  --padding-121xl: 140px;
  --padding-9xl: 28px;
  --padding-33xl: 52px;
  --padding-24xl: 43px;
  --padding-30xl: 49px;
  --padding-95xl: 114px;
  --padding-29xl: 48px;
  --padding-55xl: 74px;
  --padding-165xl-8: 184.8px;
  --padding-252xl: 271px;
  --padding-167xl: 186px;
  --padding-59xl: 78px;
  --padding-48xl: 67px;
  --padding-60xl: 79px;
  --padding-101xl: 120px;
  --padding-116xl: 135px;
  --padding-102xl: 121px;
  --padding-30xl-7: 49.7px;
  --padding-40xl-5: 59.5px;
  --padding-13xl: 32px;
  --padding-20xl: 39px;
  --padding-38xl: 57px;
  --padding-10xs-5: 2.5px;
  --padding-lg-6: 18.6px;
  --padding-2xl-1: 21.1px;
  --padding-349xl-3: 368.3px;
  --padding-350xl-3: 369.3px;
  --padding-163xl: 182px;
  --padding-72xl: 91px;
  --padding-sm: 14px;
  --padding-128xl: 147px;
  --padding-51xl: 70px;
  --padding-17xl: 36px;
  --padding-54xl: 73px;
  --padding-182xl-5: 201.5px;
  --padding-112xl: 131px;
  --padding-mini-5: 14.5px;
  --padding-53xl: 72px;
  --padding-28xl: 47px;
  --padding-85xl: 104px;
  --padding-79xl: 98px;
  --padding-164xl-5: 183.5px;
  --padding-100xl: 119px;
  --padding-31xl: 50px;
  --padding-6xs: 7px;
  --padding-5xs-9: 7.9px;
  --padding-15xl-2: 34.2px;
  --padding-49xl-4: 68.4px;
  --padding-25xl: 44px;
  --padding-21xl: 40px;
  --padding-8xs-5: 4.5px;
  --padding-12xs-2: 0.2px;
  --padding-3xs-7: 9.7px;
  --padding-3xl: 22px;
  --padding-14xl: 33px;
  --padding-lg-5: 18.5px;
  --padding-7xs: 6px;
  --padding-9xs: 4px;

  /* Border radiuses */
  --br-2xl-3: 21.3px;
  --br-9xl: 28px;
  --br-3xs: 10px;
  --br-9xs: 4px;
  --br-11xs: 2px;
  --br-9999999981xl: 10000000000px;
  --br-xs: 12px;
  --br-3xs-7: 9.7px;
}

.cutome-btn {
  background: red !important;
  height: 48px;
  width: 300px;
  border: red !important;
}

@media (mix-width : 767px) {
  .cutome-btn {
    width: auto;
  }
}

.iocn-color {
  color: red;

}

.form-box {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  padding: 20px;
}

.addcarform {
  display: flex;
  justify-content: start !important;
  align-items: center !important;
  text-align: start !important;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
  left: -50px;
}

.unauthorized-main, .unauthorized {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  min-height: 80vh;
  padding: 20px !important;
}

.custom-pagination .MuiPaginationItem-root {
  color: black;
  background-color: white;
}

.custom-pagination .MuiPaginationItem-root:hover {
  background-color: red;
}

.custom-pagination .MuiPaginationItem-page.Mui-selected {
  color: white;
  background-color: red;
}

.custom-pagination .MuiPaginationItem-page.Mui-selected:hover {
  background-color: red;
}

.custom-pagination .MuiPaginationItem-page {
  color: black;
}

.custom-pagination .MuiPaginationItem-page:hover {
  background-color: red;
  color: white;
}

.custom-pagination .MuiPaginationItem-ellipsis {
  color: white;
}

.backicon {
  font-size: 35px;
}

.row-red {
  background-color: rgba(255, 0, 0, 0.1) !important;
}

.imagePreview {
  height: 100px;
  width: 100px;
}